@model IEnumerable<FoodLoop.Models.Entities.Restaurant>
@using FoodLoop.Models.ViewModels;
@{
    ViewData["Title"] = "Restaurants";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mb-0">Restaurants</h2>
    <a asp-action="Create" class="btn btn-success">+ Create</a>
</div>

<table class="table table-striped align-middle">
    <thead>
        <tr>
            <th>Name</th>
            <th>Business Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.Name</td>
                <td>@r.BusinessEmail</td>
                <td>@r.Phone</td>
                <td>@r.Address</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@r.Id" class="btn btn-sm btn-warning">
                        Edit
                    </a>

                    <form asp-action="DeleteRestaurant"
                          method="post"
                          style="display:inline;"
                          onsubmit="return confirm('Сигурен ли си, че искаш да изтриеш този ресторант?');">

                        <input type="hidden" name="id" value="@r.Id" />
                        @Html.AntiForgeryToken()
                        <button class="btn btn-sm btn-danger">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("_SectionPagination",
new PaginationViewModel
{
    CurrentPage = ViewBag.CurrentPage ?? 1,
    TotalPages = ViewBag.TotalPages ?? 1,
    Action = ViewContext.RouteData.Values["action"]?.ToString(),
    Controller = "Admin",
    Query = ViewBag.Search
})