@model IEnumerable<FoodLoop.Models.Entities.Restaurant>
@using FoodLoop.Models.ViewModels
@{
    ViewData["Title"] = "Restaurants";
}

<div class="admin-wrapper">

    <div class="admin-header">
        <h1 class="admin-title">Restaurants</h1>
        <a asp-action="Create" class="btn btn-success">+ Create</a>
    </div>

    <form method="get" class="admin-search">
        <input type="text" name="search" value="@ViewBag.Search" placeholder="Search restaurant..." />
        <button type="submit">Search</button>
    </form>

    <div class="admin-table-wrapper">
        <table class="admin-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var r in Model)
                {
                    <tr>
                        <td>@r.Name</td>
                        <td>@r.BusinessEmail</td>
                        <td>@r.Phone</td>
                        <td>@r.Address</td>
                        <td>
                            <a asp-action="Details" asp-route-id="@r.Id" class="btn-details">Details</a>
                            <a asp-action="Edit" asp-route-id="@r.Id" class="btn-details">Edit</a>
                            <form asp-action="DeleteRestaurant" method="post" style="display:inline;">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="@r.Id" />
                                <button class="btn-delete">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @await Html.PartialAsync("_SectionPagination",
    new PaginationViewModel
    {
        CurrentPage = ViewBag.CurrentPage ?? 1,
        TotalPages = ViewBag.TotalPages ?? 1,
        Action = "Restaurants",
        Controller = "Admin",
        Query = ViewBag.Search
    })

</div>